.Marquee{
    background: rgba(152, 4, 85, 0.951);
        
}


.postcard{
    padding: 5px;
    
    img{
        padding: 5px;
        background-color: rgba(247, 221, 235, 0.951);
    }
    p{
        background:white;
        padding: 3px;
        border-radius: 5px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
}